@charset "UTF-8";

@import "addons/clearfix";
@import "addons/ellipsis";
@import "addons/hide-text";
@import "addons/word-wrap";
@import "addons/float";
@import "addons/text-align";

// ----------------------------------------------
//   common styles
// ----------------------------------------------
// text align
.tl{ @extend %text-left; }
.tc{ @extend %text-center; }
.tr{ @extend %text-right; }

// 强制不换行
.nowrap {
  white-space: nowrap;
  word-wrap: normal;
}

// 连续字符换行
.wrap {
  white-space:normal;
  word-wrap:break-word;
  word-break:break-all;
}
.hidden, .hide {
  display: none;
}

// 文字溢出显示省略号
.ellipsis {
  @extend %ellipsis;
}

// 隐藏文字
.text-hide {
  @extend %text-hide;
}

// 统一用双线显示人民币符号「&yen;(￥)」
.rmb,
.yuan {
  font-family: arial;
  font-style: normal;
}

// contain floats
.clearfix {
  @extend %clearfix;
}
.group {
  @extend %clearfix;
}
.container {
  @extend %clearfix;
}
.layout {
  @extend %clearfix;
}