@charset "UTF-8";

// ---------------------------------------------------------------
// 文字溢出显示省略号
// 1. Opera 9-10.6
// 2. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
// 3. IE 6 7 需要宽度
// ---------------------------------------------------------------

%ellipsis-basic {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis; // 1
  text-overflow: ellipsis;
  text-align: left; // 2
}
@mixin ellipsis($width: 100%) {
  @extend %ellipsis-basic;
  width: $width; //3
}
// =============================Use===============================
//  .element{
//    @include ellipsis(200px);
//  }
// ===============================Output==========================
//  .element{
//    display: block;
//    width: 200px;
//    white-space: nowrap;
//    word-wrap: normal;
//    overflow: hidden;
//    -o-text-overflow: ellipsis;
//    text-overflow: ellipsis;
//    text-align: left;
//  }
// ===============================================================